img {
    width: 100px;
    height: 100px;
}

button {
    display: block;
    margin: 30px;
}

input {
    width: 200px;
}

.btn {
    display: inline-block;
    margin: 0;
}

#btnPow,
#btn10 {
    display: inline-block;
    margin: 0;
}